[2016-07-04 14:47] Caffe1neAdd1ct opened #5 "Creating contact API docs have no reference to contact_type_form_proxy_id"
Hi,

Started integrating our application and found the following error on posting a new contact to the en/v1 api:

[code]

Any help would be very much appreciated.

[2016-07-04 14:50] Caffe1neAdd1ct commented on #5
Please ignore this one! Issue was found between seat and keyboard :+1:

[2016-07-04 14:50] #5 closed, assigned to nobody

[2017-03-21 20:15] banstola opened #9 "Authorization failed when using V3 SageOne Signer"
The v2 sample and signer works but when using this new API v3 Signer I get authorization failed.
[code]

--------------------------------------------------------------

[code]

-----------------------

I used

http://localhost:8080/sageone_response.php?get_endpoint=accounts%2Fv3%2Fcontacts&get_access_token=MY_ACCESS_TOKEN&get_resource_owner_id=MY_RESOURCE_ID&country=GB

---------------------------

[2017-03-22 08:22] cpetschnig commented on #9
This looks like your code is fine, but your user is not the owner of the business. Currently, API usage is restricted to the owner of each business. Can you please check this?

It is definitely not to early to use v3, which is available for UK, US, Canada, France, Germany, Ireland and Spain. The API is fully compatible among these countries (which was not the case with v2).

Yes, we'v made some sl

[2017-03-22 09:30] banstola commented on #9
Ok. It is then business owner issue as I am trying to get data from Accounts that have authorized me to access their data. Is there any document where you have put this information?  So when can we expect the API without such restrictions so that third party applications will be able to access data on behalf of business owners?

[2017-03-22 10:01] cpetschnig commented on #9
We have had this always in the [v1/v2 documentation](https://developer.sageone.com/docs/en/v1#authentication) ("Note: This can only be authorized by the business owner (the user that created the Sage One subscription)"), but probably haven't enforced it all the time. I thought the v3 docs mention it, too, but it looks like they don't. We will correct this.

In general we intend to lift this restri

[2017-03-22 10:28] banstola commented on #9
I think we are talking two different things. Business owner "allow" the authorization. I use the code to exchange the ```refresh_token``` and ```access_token ```.  I use the v3 branch with this ```access token``` , ```resource_owner_id``` obtained along with ```refresh_token``` and ```access_token```. I create a new subscription and use the subscription key to update the file contains application

[2017-03-23 14:02] cpetschnig commented on #9
On further investigation, the value you use on `get_resource_owner_id` is not valid. This value is used for the `X-Site` header in the request and was introduced in v3. Please verify that this value is the GUID of the business you are making the request for.

[2017-03-23 15:51] banstola commented on #9
Now it makes sense as I was using ```requested_by_id``` . But as suggested in this document https://developer.columbus.sage.com/docs#/uki/sageone/accounts/gs-authentication. I do not get ```resource_owner_id``` instead I have the response as below

[code]

Every request I make to API must provide me resource_owner_id instead I get back ```requested_by_id```

[2017-03-23 15:54] banstola commented on #9
Nevermind. I was using wrong api endpoint . It works now. Thank you! You saved my day.

[2017-03-23 15:59] #9 closed, assigned to cpetschnig

[2017-03-28 12:49] banstola opened #11 "Contact type validation"
I am trying to POST following json using the sample library and using the sample post json

[code]

Then I get following error. What is the correct way to put the contact_type_ids so that it passes validation? I using the sample JSON from this link .

https://developer.columbus.sage.com/docs#/uki/sageone/accounts/v3/contacts_contact

According to documentation ```contact_type_ids``` is ```array(st

[2017-03-28 13:19] cpetschnig commented on #11
I have just double-checked your request. This is exactly how you are supposed to create a new customer. Can you please check your code to ensure this is really what you are sending? Thanks.

[2017-03-28 13:38] banstola commented on #11
Hi, I am just using the sample php code that SageOne has provided? Did you use the same sample library to verify ?

[code]

there also exists ```contact_type``` **CUSTOMER** and **VENDOR** .

[2017-03-29 11:32] banstola commented on #11
Any update on this?

[2017-03-29 15:28] buzz1710 commented on #11
Hi. Can you confirm that you are using the v3 branch for this?

[2017-03-29 16:19] banstola commented on #11
Hi, I am just modifying
 https://github.com/Sage/sageone_api_php_sample/blob/v3/sageone_response.php file as you can see in the code snippet I have posted above.

[2017-03-29 17:35] #11 closed, assigned to cpetschnig

[2017-03-29 17:47] buzz1710 commented on #11
I've just tested this using the v3 branch and it's posting that JSON ok.

I see you have just closed this issue anyway - just repoen this or raise another issue if you have any further problems.

If you did manage to resolve this, I'd be interested to know where you were going wrong - we need to improve our docs on these samples and also in general so any feedback is welcome.

[2017-03-29 18:06] banstola commented on #11
Hi, it was again my fault here while I was modifying the client file for in house use. But I would suggest  so that we could have a wrapper. So what one could do it create new instance of Sage One with the creds and  be able to make api requests.

[code]
I think I will make pull request at some point. You guys have been really helpful. Thank you very much.

[2017-04-06 11:19] flashnodeuser opened #12 "Updating invoice status"
What is the correct endpoint for updating invoice status? Is there documentation on it? Currently all the invoices are by default Unpaid.

[2017-04-06 13:54] cpetschnig commented on #12
Because of the accounting entries, that are created in the background, invoices can only be created as unpaid. You then need to record a payment to change the status. There are various forms of payments:

* [contact payments](https://developer.columbus.sage.com/docs#/us/sageone/accounts/v3/contact_payments_contact_payment)
* [contact allocations](https://developer.columbus.sage.com/docs#/us/sageon

[2017-04-06 16:47] flashnodeuser commented on #12
I have pushed the contact payment and its recorded in the bank. Then I PUT the sales_invoice with status_id =>"PAID" in SageOne but the status is still unpaid.

[2017-04-07 07:02] cpetschnig commented on #12
The status is not directly writeable, it only changes through payments. When you GET the invoice again, do you see the payment? Did you pass the transaction_id of the invoice to the payment?

[2017-04-07 08:14] flashnodeuser commented on #12
array:7 [▼
  "transaction_type_id" => "CUSTOMER_RECEIPT"
  "date" => "2017-04-07"
  "contact_id" => "contact_id"
  "total_amount" => "12.0"
  "reference" => "3005"
  "bank_account_id" => "bank_account_id"
  "transaction_id" => "transaction_id"
]

transaction_id taken from invoice -> transaction->id

Yet it is unpaid at Sage One but this sum has been registered to the bank

[2017-04-07 10:09] cpetschnig commented on #12
Sorry, I was wrong. It's not the `transaction_id` that you should use, but the `artefact_id`, as seen in this example:

[code]
from https://developer.columbus.sage.com/docs#/uki/sageone/accounts/v3/contact_payments_contact_payment

[2017-04-07 10:11] flashnodeuser commented on #12
[code]

Do artefact_id should be transaction-> id ?

[2017-04-07 10:46] cpetschnig commented on #12
No, that's the sales invoice or purchase invoice id.

[2017-04-07 11:25] flashnodeuser commented on #12
Too many accounting lessons for a developer. Thank you!

[2017-04-07 13:12] cpetschnig commented on #12
Glad I could help. I already recorded an internal ticket to improve the documentation in this area. Cheers!

[2017-04-10 07:41] #12 closed, assigned to cpetschnig

[2017-04-18 06:34] banstola opened #14 "Apply discount to invoice in bulk"
Is there a possibility apply discount to invoice in bulk like we add shipping_cost? Right now the discount is applied to individual product.

[2017-04-18 06:45] cpetschnig commented on #14
No, discount must be applied to each single line item. It behaves the same way as the web application/UI.

[2017-04-18 06:58] banstola commented on #14
This might be a problem because if there are 3 line items being pushed using API and if there is only single discount amount then there is no way to separate this single amount among 3 line items. Thank you for your quick reply.

[2017-04-18 07:46] flashnodeuser commented on #12
Is there a way to register the payment gateway while registering the payment? Because using the UI it is possible to select a payment gateway while recording payment

[2017-04-18 08:27] adamgeorgeson commented on #12
Hey @flashnode, could you clarify the field in the UI?

Is it the `method` field when making a payment as shown in the screenshots below? If so, we do not currently expose this via the API, and this will default to the `Default Transaction Method` associated with the bank account record.

![screen shot 2017-04-18 at 09 19 37](https://cloud.githubusercontent.com/assets/2270985/25121259/055313dc-241

[2017-04-18 08:38] flashnodeuser commented on #12
The screenshot is correct and i have got my answer that you do not expose them right now.

[2017-04-18 17:50] #14 closed, assigned to cpetschnig

[2017-04-21 07:24] banstola opened #17 "Error documentation"
Do you have a documentation on what kind of error messages to expect  from different request from the API so that we can have a better error handling while using the API?

[2017-04-21 07:30] cpetschnig commented on #17
Sorry, we don't have it currently. We are looking to improve the documentation in the next months and describing the errors is already on our list of improvements.

[2017-04-21 08:01] banstola commented on #17
While on this topic ... what is the rate for making request to the API?

[2017-04-21 08:11] cpetschnig commented on #17
We've currently set it to 200 requests per minute. But please don't rely on it, as we may increase or decrease it based on our experience. Better handle `429` responses and retry after a short while.

[2017-04-21 17:34] #17 closed, assigned to cpetschnig

[2017-04-26 05:38] banstola commented on #17
Until you make those error documents, what is the right channel to ask error related questions? Is github the right channel?  I have been getting following error message back. What does it mean ?

**You cannot edit VAT reconciled transactions.**

[2017-04-26 15:04] timlapluie commented on #17
@banstola: Currently, Github is a good place to ask questions.

The message `You cannot edit VAT reconciled transactions.` is an application error message. It indicates that you try to change e.g. an invoice for which you already created a VAT return:
After an invoice belongs to a VAT return, it is not possible anymore to change this invoice because this would make the already created VAT return w

[2017-05-12 12:33] banstola opened #18 "Profit analysis report not showing correct information"
Hello team,

Our system pushes sales invoices to sage one correctly. Correct product is assigned to inovice_lines and it also appears in Sage One and the client has the matching product code in the origin system as well as in Sage one and same price. Yet the profit analysis is incorrect and does not show the actual cost price of the item in question? I had written an email to your support team and

[2017-05-17 06:33] cpetschnig commented on #18
We have recorded this in our internal ticket system as API-1735.

[2017-05-17 12:13] banstola commented on #18
So is it a bug ? If it is a bug it would be nice to know when it will be fixed or if we are doing something wrong then would love to hear how we could do it correctly.

[2017-05-24 13:54] banstola opened #19 "Rounding up prices"
When pushing invoices to Sage One using API . ```unit_price```  and ```tax_amount``` are rounded up if having more than 2 digits after decimal point thus the total price increases by 1 cent. This is inconvenient.  For example uni price 41.625 and tax 8.325 should be 49.95 but it is 49.96 in the total invoice in Sage One.

[2017-05-30 07:06] cpetschnig commented on #19
This has already been subject of long discussions in our team. In fact, both ways to handle rounding can be seen as correct: rounding before or after the addition. On the printed invoices, where all numbers have two digits, we decided to round before the addition. This is more natural for the person reading the invoice.

[2017-05-30 07:28] banstola commented on #19
It might be natural but it has caused this issue of increasing 1 pence in every new order . How should we solve this or what could we do in our end? Some systems provide these kinds of numbers and even if we manipulate the data before pushing to Sage One ... it is unlikely that we will be able come up with a generic solution that can cover all the round up issues. Could you not leave this up to th

[2017-05-30 09:52] cpetschnig commented on #19
Unfortunately, such a change cannot be decided not implemented by the Sage One API team. I have forwarded this to our product management, but I can make no promises if or when this will be implemented.

[2017-05-30 09:58] banstola commented on #19
That's very unfortunate. I still do not understand why you would round up or down monetary values pushed to the system. This is very inconsistent. Why does it matter if there is 1.564 as price for an item in a invoice if that is what the user wants ? Is there any way we could override this so that the final value is still the correct sum total ?

[2017-05-31 06:44] banstola commented on #19
Any way to override this so we get the total sum correct ?

[2017-06-05 07:16] banstola opened #20 "[ FEATURE REQUEST ] JSON response for bad request body"
**NOTE : This is not an issue but a feature request.**

Should the API still give json string as  response for bad request and explain which field is invalid. Right now the server's response is following which is vague as developer does not know what field is invalid.

[code]

[2017-06-08 14:19] corientdev opened #21 "How can we query (get) particular contact without id i mean by name of type like vendor or customer?"
How can we query (get) particular contact without id i mean by name of type like vendor or customer?

[2017-06-08 14:43] cpetschnig commented on #21
You can do a `https://api.columbus.sage.com/global/sageone/accounts/v3/contacts?search=contact+name` which searches contact name, company name or reference. Also, there is `.../contacts?email=yourname@example.com`. To only get customers or vendors, do `.../contacts?contact_type_id=CUSTOMER` or `.../contacts?contact_type_id=VENDOR`.

[2017-06-15 13:48] #21 closed, assigned to cpetschnig

[2017-08-15 12:01] hajima03 opened #22 "Get Ledger_Account_Types is null"
When i get Get Ledger_Account_Types return null

[2017-08-15 12:37] cpetschnig commented on #22
Can you please be a little bit more specific? What exactly did you do?

[2017-08-17 09:14] Quacky2200 opened #23 "Invalid grant response from access token request"
Hi,

I am trying to make an implementation with this with most of the code based around the sample code. However whenever I try to get an access token I keep getting `{"error":"invalid_grant"}`. I decided to revert back to the PHP sample code since I thought I must be doing something wrong however I'm getting the same issue over and over again.  I have even tried waiting 15 minutes to a whole day

[2017-08-17 11:39] cpetschnig commented on #23
Hi Matthew,

you have only 60 seconds to exchange the code you received on the callback for an access token using the token endpoint (like in the curl example you showed).

Would this fix it?

Cheers,
Christoph

[2017-08-17 12:06] Quacky2200 commented on #23
Unfortunately this won't work since the process is automated both on PHP sample and my code. It will automatically redirect and then attempt to get the token as soon as possible so it's not expiring after 60 seconds.

I saw in [another comment](https://github.com/Sage/sageone_api_php_sample/issues/9#issuecomment-288351098) that I cannot use the Sage One API with multiple clients and only as part o

[2017-08-17 12:16] cpetschnig commented on #23
I can offer you a support call. Can you email me so we can set up a call?

[2017-10-02 14:52] alsoNuBe opened #24 "Token return failure"
Hi - I am using your source code pretty much exactly as in the repository.
However, in authentication the SageoneClient->getToken() function seems to not return a token and I am not sure why. Everything seems to work up until the $result = file_get_contents() line.

Could you please suggest some way to debug? I show the function below with my comments:

  private function getToken($params) {
    $

[2017-10-11 08:25] alsoNuBe commented on #24
I managed to solve the connection problem by using CURL instead of stream_context_create and file_get_contents, so the sample app is now running. The syntax for queries is still something that I do not find easy to apply, e.g.:
accounts/v3/sales_invoices?page=# works, but it is not clear how to use search, etc. How can I see examples of how this is used, please?

[2017-10-11 10:22] alsoNuBe commented on #24
I have used CURL instead of file_get_contents and this is working; also making progress with query syntax thanks to the Sage API site.

[2017-10-29 11:39] acmngmbh opened #25 "Access the API with username/password"
Hi,

is there a way to Access the V3 api with username/password instead of OAuth?

Best Regards

[2017-11-01 06:37] shashikant-wagh opened #26 "have to skip country selection and full access"
When I click on authorization it every time ask to select country and allow or deny full access.
Can we skip it by passing additional parameters in authentication url

[2017-11-03 12:10] timlapluie commented on #25
Hi @ackonsult,

API v3 is only working with using OAuth2. It is not planned to change this behavior due to security reasons.

[2017-11-03 12:13] timlapluie commented on #26
Hello @LV2Code,

it is only possible to do authorization including country selection and manual grand access. There are no other ways to connect to the API to make sure the user decides by himself wether he wants to give data access to external applications.

[2017-12-28 10:42] teufelmartin opened #29 "Error Messages"
Is there a document available which give more informations about error messages?

`{
  "purchase_invoice": {
    "contact_id": "e9578549eaec11e7b587065b8ec10ed1",
    "date": "2018-01-01",
    "due_date": "2018-02-01",
    "reference": "paypal zb oder oder id",
    "invoice_lines": [
      {
        "product_id": "4568d9e0eaed11e7b587065b8ec10ed1",
        "description": "Line 1",
        "ledger_

[2017-12-29 10:01] #19 closed, assigned to cpetschnig

[2018-01-02 11:22] banstola opened #30 "Customer name has `-` instead of the name from payload"
Hi,

We are using Sage One API to push invoice data to Sage One . I have a case where I am able to send invoice but contact name is missing when the data is being pushed to customer’s sage one. There is no problem when I push the data to our sage one . Everything is in place but it occurs on customer’s Sage One which is why it has been difficult to debug. The payload is as given below.

[code]

Wh

[2018-01-04 08:58] timlapluie commented on #29
Hi @teufelmartin,
The error you are seeing here means that the `contact_id` you provided in the payload is invalid for the purchase invoice you are trying to create.
The error message unfortunately misses the `$source` attribute.
Please make sure that the given `contact_id` is a valid supplier (not customer) in Sage One.

[2018-01-04 09:14] #30 closed, assigned to nobody

[2018-01-04 09:14] #18 closed, assigned to cpetschnig

[2018-01-04 09:14] #20 closed, assigned to nobody

[2018-01-11 11:16] flashnodeuser opened #32 "Why does this error occurs?"
Hi,
We have been randomly getting following error when creating new invoice. Where may we find document about this error or when does this error is raised?
```{"error_message":"[{\"$severity\":\"error\",\"$dataCode\":\"RecordNotFound\",\"$message\":\"Couldn't find record.\",\"$source\":\"\"}]"}```

[2018-01-11 12:45] cpetschnig commented on #32
Hi,

unfortunately the error message is not that helpful, apologies for that.

Can you please verify that the `contact_id`, `ledger_account_id`, `product_id` in your post data are all valid? Also, please double-check that the referenced contact for a sales invoice is a customer, or a vendor/supplier for a purchase invoice. The ledger account must also be valid and show up in `GET /ledger_accounts?

[2018-02-04 19:41] banstola opened #33 "Search product with item_code?"
Hi,

Using https://developer.columbus.sage.com/docs#/uki/sageone/accounts/v3/products , is it possible to search a product by item code?

[2018-02-05 07:49] timlapluie commented on #33
Hi @banstola,

if you click on `Query Parameters` in the documentation page you posted, you can find the `search` parameter which can be used to search the INDEX collection for a specific item code of a product.

[2018-02-05 07:57] banstola commented on #33
Can you please put an example? Is it like this ?
Is it like below?
search={product_code}&attributes=item_code?

[2018-02-05 09:18] timlapluie commented on #33
Exactly!
I just tested it with this example:
[code]
and it works as expected.

Response for this example was:
[code]

[2018-02-09 11:03] srokatonie opened #34 "[V3] Every call returns null after "Successfully authenticated""
I have successfully authenticated. When I try to make any call like `GET accounts/v3/contacts`, `POST accounts/v3/contacts` with example data or even some random `GET blah/blah` I always get `null` in response.

I also made sure that there are some contact available on the accessed account in order to return some results in `GET`.

![screen shot 2018-02-09 at 11 01 03](https://user-images.githubus

[2018-02-15 12:35] srokatonie commented on #34
I can confirm that my credentials work fine on Postman and V1.

[2018-02-26 15:29] davidherlopgt opened #35 "getting ["error"]=> string(13) "invalid_grant" when I am trying to getAccessToken"
Hi
I am trying to get the access token but the response is invalid_grant, I do receive the authorization code, I read the documentation and I am almost sure that I do everything like is describe
Could some one help me please
array(2) { ["url"]=> string(34) "https://oauth.na.sageone.com/token" ["data"]=> string(161) "client_id=f5xxxxxxxxxxxxxxxeef&client_secret=5axxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxe

[2018-02-26 15:32] cpetschnig commented on #35
Hi David, you have only 60 seconds to exchange the token after authorization and callback. Are you within this timespan?

[2018-02-26 15:38] davidherlopgt commented on #35
The call to the accesstoken is done automatically when receiving the code, it does not take more than a second

[2018-02-26 16:40] davidherlopgt commented on #35
It's work, my mistake was that I had the redirect_uri different, thanks for answering

[2018-02-26 16:40] #35 closed, assigned to cpetschnig

[2018-04-10 13:58] deepbratt commented on #34
following. if anyone got the solutions for this please let me know.

[2018-04-11 11:52] srokatonie commented on #34
@deepbratt clear cache, check internet settings, I managed to make it working somehow :)

[2018-04-11 14:05] deepbratt commented on #34
can u forward me the endpoints and sample json data ?
It would be really helpful.

On Wed, Apr 11, 2018 at 5:22 PM, srokatonie <notifications@github.com>
wrote:

--
-- --------------------------------
-------------------------------------------------- --
*Kind regards*
*Shuvradeb Mondal*

*Sales & Senior Software Architecture *
https://www.facebook.com/deepbratt
https://plus.google.com/+DeepBrattM

[2018-04-12 10:23] srokatonie commented on #34
@deepbratt I can but next week, since I'm abroad and have that on my desktop. Remind me around Wednesday if you won't solve it yourself.

[2018-04-12 10:31] deepbratt commented on #34
Hi ,
highly appreciated sir ,
i would definitely remind you if i fail to solve it within that timeframe.

On Thu, Apr 12, 2018 at 3:53 PM, srokatonie <notifications@github.com>
wrote:

--
-- --------------------------------
-------------------------------------------------- --
*Kind regards*
*Shuvradeb Mondal*

*Sales & Senior Software Architecture *
https://www.facebook.com/deepbratt
https://plus

[2018-05-26 07:21] Biscuri opened #38 "getAccessToken error 400"
When I try to get the access token after getting my code, it gives me the exception:

file_get_contents(https://api.sageone.com/oauth2/token/): failed to open stream: HTTP request failed! HTTP/1.1 400 Bad Request

Where file_get_contents is the line 123 of sageone_client.php file, inside the getToken method.

The post is sent to: https://api.sageone.com/oauth2/token/

With these params:

`"http" =

[2018-06-25 09:42] #33 closed, assigned to timlapluie

[2018-06-25 11:44] #25 closed, assigned to nobody

[2018-06-25 11:45] #26 closed, assigned to nobody

[2018-09-05 07:33] rajiv-1990 commented on #9
Hello Sir

I m getting following error. I have used "https://api.columbus.sage.com/uki/sageone/accounts/v3/contacts?email=test@gmail.com"

[
  {
    "$severity": "APIM error",
    "$dataCode": "SubscriptionKeyInvalid",
    "$message": "Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription.",
    "$source": "authorization"
  }
]

[2018-09-05 12:19] cpetschnig commented on #9
You need to set the `ocp-apim-subscription-key` header in your request. You get the value from https://developer.columbus.sage.com/docs#/uki/sageone/accounts, sign in/register in the top right corner. Use either the primary or secondary key from your subscriptions.

[2018-09-21 15:14] NeonHorizon commented on #38
We had a version of this code implemented on production servers running different versions of Linux and PHP and it suddenly started failing with 400 errors despite nothing having changed our side.

After re-implementing getToken in curl we have identified that the error Sage are giving is {"error":"invalid_grant"} which link it to this issue here:
https://github.com/Sage/sageone_api_php_sample/iss

[2018-09-21 15:14] NeonHorizon commented on #38
Looks like its also linked to this issue...
https://github.com/Sage/sageone_api_php_sample/issues/24

[2018-09-21 15:16] NeonHorizon commented on #24
Can you share your CURL code?
I have tried implementing it in CURL and I'm getting {"error":"invalid_grant"}.
It seems all three of these issues are connected in some way:
https://github.com/Sage/sageone_api_php_sample/issues/38 https://github.com/Sage/sageone_api_php_sample/issues/23

[2018-09-21 15:20] NeonHorizon commented on #23
It seems we have 3 issues which are all connected.
As mentioned in the other posts we had a version of this code in production then it suddenly stopped working. The original get_file_contents doesn't display the error but as mentioned you can retrieve it with curl and it is indeed {"error":"invalid_grant"}

Since it happens in file_get_contents and curl and many of us are seeing it on different se

[2018-09-25 14:40] NeonHorizon commented on #38
OK we have resolved our issue with this but it may not match yours.
The first thing I would do is try the request on the command line using curl to find out what the error actually is. I will speak more on our specific problem in here https://github.com/Sage/sageone_api_php_sample/issues/23

[2018-09-25 14:41] NeonHorizon commented on #24
We have resolved our issue but it may not be the same as the problem you have here, we did not have to resort to using CURL other than to get the actual error message, it turned out the problem was elsewhere.

[2018-09-25 14:54] NeonHorizon commented on #23
OK I finally have a solution to our problem, yours might not be related but the information maybe helpful....

It turns out Sage are using invalid_grant as a catch all error message so problems during either the authorisation redirect or the token fetch can cause the error even if they are nothing to do with the grant setting.

In our case the problem was in the configuration file we were dynamica

[2019-01-25 11:14] Prometee opened #39 "[QUESTION] Refresh token timeout"
Is there a timeout on the `refresh_token` ?

[2019-01-28 08:07] cpetschnig commented on #39
No, in API versions v1, v2 and v3, refresh tokens never time out. If you use the new version 3.1 (currently in beta, find the docs here: https://developer.sage.com/api/accounting/), then refresh tokens expire after 31 days.

[2019-01-28 13:02] Prometee commented on #39
If I store the `refresh_token` and `access_token` at 10h and then try to renew the token at 14h in the same day then I got a `invalid_grant` error both on Postman or on my own php API implementation (with 2 different couple of `refresh_token`/`access_token`).

[2019-01-28 14:02] Prometee commented on #39
@cpetschnig I'm checking the new version and there is now a `refresh_token_expires_in` field.
Thanks to spotlight the fact that there is a new API version ;)

[2019-01-29 11:24] Prometee commented on #39
The API 3.1 has the same behaviour, Sage support team say : they use cookies so if I don't send the previous cookie the `refresh_token` is considered dead...

[2019-01-30 10:11] cpetschnig commented on #39
Here's what works for me in v3 (but it would be the same in v3.1). The example is for Canada.

Authorise:
[code]
Which browser-redirects to my `redirect_uri`, when the user has accepted the auth request:
[code]

Then I have 60 seconds to exchange the code for an access token:
[code]

The above should also work when you send a JSON body. Anyway, it gives me this JSON:
[code]
Refresh token:
[code]
W

[2019-01-30 10:15] cpetschnig commented on #39
Cookies are not involved in the exchange/refresh calls. However, the auth page uses a cookie to determine which country the user has previously selected. You can use https://www.sageone.com/?clear to delete the country cookie.

When you are using different user accounts for development, maybe also developing for different countries, I suggest using the incognito mode of the browser.

[2019-01-30 10:44] Prometee commented on #39
So there is a problem because if you simply use Postman :

- make oauth2 authentication
- select the `access_token` generated
- wait for maybe 3 or 4 hours
- make your first call

You will have an `invalid_grant` error. So there is something here I don't understand :$

[2019-01-30 10:54] cpetschnig commented on #39
Each access token is valid for 60 minutes in v3, 5 minutes in v3.1. The interval starts when exchange/refresh the token. So after the 3 or 4 hours, do a refresh, then you can make the call.

I've produced the raw material for [this video](https://developer.sage.com/api/accounting/quick_start_guide/). It shows how to make a request with Postman. But I guess you are already past that.

[2019-01-30 14:38] Prometee commented on #39
I was having a bug into my testing class, that's why I was getting an `invalid_grant` error...  So there is no problem with `refresh_token` timeout.

To sum up the answer of this thread :

 - API v3 : `refresh_token` will never expires
 - API v3.1 : `refresh_token` expires in 31 days (keep alive mecanism has to be built)

I'm currently building a `library` and a `symfony-bundle` for Sageone API cl

[2019-01-30 15:24] cpetschnig commented on #39
Good to hear that 😄 Yes, please keep us notified

[2019-02-14 16:00] plantryan commented on #38
I was getting the same error message from file_get_contents. However on closer inspection found that the token endpoint URL in sageone_constants.php was incorrect...

$uki_token_endpoint = 'http://app.sageone.com/oauth2/token';

Should be:

$uki_token_endpoint = 'https://api.sageone.com/oauth2/token';

Hope this helps.

[2019-02-22 11:27] futurewebsites commented on #9
@cpetschnig I have followed the above link but cannot find any ocp-apim-subscription-key and when I click my profile there is nothing under subscription details

[2019-02-22 12:19] banstola commented on #9
Hi, at https://developer.columbus.sage.com/developer , they are named as Primary Key and Secondary key . You can use either as suggested by @cpetschnig

[2019-02-22 13:30] futurewebsites commented on #9
@banstola I had to subscribe to an api first :) but it seems I need owner login to get the resource_owner_id returned is that correct? I have full access on my account but no resource_owner_id is returned

[2019-02-22 14:00] plantryan commented on #9
I'm also getting an "AuthorizationFailure" but for a different reason...

[code]

I've subscribed to the "Sage One API", and using the primary key as my "apim_subscription_key" to access the /accounts endpoint.

Is this not correct?

[2019-02-22 14:08] futurewebsites commented on #9
im getting
 `[
    {
        "$severity": "APIM error",
        "$dataCode": "HeaderNotFound",
        "$message": "Header X-Site was not found in the request. Access denied.",
        "$source": "check-header[2]"
    }
]`

[2019-02-25 12:39] snelbert commented on #9
@cpetschnig can you provide any help on this please?

[2019-02-25 12:40] plantryan commented on #9
@cpetschnig can you provide any help on this please?

[2019-02-25 12:47] cpetschnig commented on #9
We've made this whole part much easier in the new API version 3.1, where all accounting endpoints are 100% compatible to this v3 version you are referring to. Check out the documentation at https://developer.sage.com/api/accounting/ The new version is in Beta since its release last October, but we will remove the Beta label soon.

[2019-02-25 12:55] cpetschnig commented on #9
Unfortunately we haven't yet come across to update the sample applications, but this will follow soon. The new version is also much closer to the OAuth2 specification, which should allow you to use any OAuth2 library with instant success, making the need for this sample app less urgent.

[2019-04-16 15:52] mattimatti opened #42 "Wrong endpoint for UK token"
Hello,
In the provided code V3 there is a wrong endpoint for token exchange

![sageone_api_php_sample_sageone_constants_php_at_v3_·_Sage_sageone_api_php_sample](https://user-images.githubusercontent.com/837528/56224603-27180500-6070-11e9-93b1-98f1a5ec39ee.png)

The correct url is noted in documentation.

![Sage_APIs](https://user-images.githubusercontent.com/837528/56224653-3d25c580-6070-11e9-93fa

[2019-04-16 15:53] mattimatti commented on #42
This is possibly the reason for the failure in issue #9

[2019-04-23 04:53] thaaranimatrix opened #43 "How to get resource_owner_id"

[2019-04-23 04:53] thaaranimatrix opened #44 "resource_owner_id is empty"

[2019-04-26 05:25] cpetschnig commented on #43
Can you please retry with the new API version 3.1, in branch `upgrade_to_api_v3.1`? We will merge this to `master` within the next days.

We've made many things easier in the new version. Also, we will overhaul this repo in the next two weeks, making it more comfortable for you to use.

[2019-04-26 05:27] cpetschnig commented on #44
Can you please retry with the new API version 3.1, in branch `upgrade_to_api_v3.1`? We will merge this to `master` within the next days.

We've made many things easier in the new version. Also, we will overhaul this repo in the next two weeks, making it more comfortable for you to use.

[2019-04-26 05:37] cpetschnig commented on #42
Thank you, this will be fixed with https://github.com/Sage/sageone_api_php_sample/pull/47. Strange, I wonder why I pushed this in.

[2019-07-21 21:38] papiermache commented on #23
Thx for providing the info; wasted a few hours on this. But really Sage folk, wake up - what is the point of a totally useless 'default' error message that sends your unsuspeting developers down the garden path ..
Also the '60 second' constraint, first I've heard of that, where is it documented (certainly not in the quick-start guides)?

[2019-08-15 01:32] eudovic opened #55 "The page you were looking for doesn't exist."
When I try to get anything from api I have
The page you were looking for doesn't exist.
You may have mistyped the address or the page may have moved.
I debuged my curl and I got:

the header:
Array
(
    [0] => Accept: *.*
    [1] => Content_Type: application/x-www-form-urlencoded
    [2] => User-Agent: DevelopRaft
    [3] => Authorization: Bearer ************MYDATA*************************
    [4

[2019-08-15 18:10] eudovic commented on #55
more debug
*   Trying 63.33.110.46...
* TCP_NODELAY set
* Connected to api.sageone.com (63.33.110.46) port 443 (#0)
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/certs/ca-certificates.crt
  CApath: /etc/ssl/certs
* SSL connection using TLSv1.2 / ECDHE-RSA-AES128-GCM-SHA256
* ALPN, server accepted to use http/1.1
* Server certificate:
*  subject: bu

[2019-08-16 06:10] timlapluie commented on #55
Hi @eudovic,

Might it be that you are using the API for the Sage One product from Brazil (https://br.sageone.com/)?

Please refer to the documentation of the Brazilian API, it is powered by a different technology stack and is unfortunately not compatible with this sample app.

Here is the documentation: https://github.com/Sage/sageone_br_nfe_documentacao_api/wiki
I'm pretty sure that the endpoint

[2019-08-19 22:40] eudovic commented on #55
Thats Right, Now I can get clients but I cant record..
I dont see how to create a new client or product in pt-br documentation..
https://github.com/Sage/sageone_br_nfe_documentacao_api/wiki/Clientes
Can you help me?

[2019-08-20 14:20] isabelademattos commented on #55
Hello @eudovic,

Unfortunately it is not possible to create a new client that way, the only way is when you are creating a new invoice (https://github.com/Sage/sageone_br_nfe_documentacao_api/wiki/NFe) and the client is created if he does not exist yet.

[2019-08-20 15:43] eudovic commented on #55
Ok Isabela! Acredito que pelo seu nome, sua língua nativa também seja o português...
Me esclareça algumas duvidas por gentileza...
Minha intenção única com a sage é a de emitir notas ficais, pois ja tenho o cadastro de clientes e produtos no meu bd...
Posso emitir uma nota sem cadastrar estes produtos e clientes no bd da sage??
Outra coisas é sobre quais os campos mínimos obrigatórios para emissão

[2019-08-21 17:18] isabelademattos commented on #55
Olá @eudovic,
Quando vc for enviar o POST para criar a nota ele vai cadastrar no db da sage o cliente e os produtos que estiverem no seu json. Sobre os campos obrigatórios vou verificar e já posto aqui.

[2019-08-26 12:42] isabelademattos commented on #55
Bom dia @eudovic,

Esses são os campos mínimos para se ter uma NF-e pronta para ser emitida, conseguiria tentar e nos avisar se obteve sucesso? Tenha uma ótima semana!

'carriage_modality' = '9'
'client[kind]' = 'organization' // person | organization
'client[name]' = 'Nome Fantasia'
'client[cpf]' = '06087556990' ou 'client[cnpj]' = '15522500000160'
'client[blank_tax_number]' = false (true se tive

[2019-08-27 00:31] eudovic commented on #55
Ok, fiz o teste gerando um rascunho e me retornou com sucesso
{"success":true,"url":"http://app.br.sageone.com/notafiscal/incoming_nfes/40263454"}

porem ao rasucunho ficoui com valor 0, sem nenhum produto, e tb nao vi onde se encontravam os dados do cliente...

este foi o json que usei no teste

{'carriage_modality' : '9' , 'client[kind]' : 'organization', 'client[name]' : 'Emerson Udovic' , 'cli

[2019-09-01 03:17] eudovic commented on #55
Consegue me dar uma ideia do que está aconcendo?? Algo errado com os parâmetros que estou enviando?

[2019-09-05 12:36] eudovic commented on #55
Me ajuda please?!?!?!?!!?!?!!

[2019-11-08 13:42] ideiasf opened #56 "Compatability with Portugal"
Hello
How compatible is this sample with Portuguese SAGE ONE?

I'm trying to authorize my account with this sample, but I only get all flags except Portugal.

[2019-12-05 16:34] AlanBell opened #57 "AccessTokenStore->save() doesn't update internal properties"
If you call ApiClient->renewAccessToken() this gets a new token and calls storeAccessToken which in turn calls AccessTokenStore->save() which writes the data to the yaml file. This does not update the access token in the access store object so the next call to the api fails with invalid_grant as it is still using the old access token.

You need to call ApiClient->accessTokenStore->load() before us

[2019-12-05 16:38] AlanBell opened #58 "reliable version of execApiRequest"
it would  be good to have a method that wraps the execApiRequest method and deals with renewing the token if necessary.
So this would call execApiRequest, and look at the response, if it is an access token timeout error it would renew the access token and call execAPIRequest a second time, then return whatever that response is without looking at it. So, if it hits an expired token it will make a s

[2020-02-18 14:28] devnb opened #59 "Fatal error: require(): Failed opening required '/var/php/vendor/autoload.php' (include_path='.:/opt/cpanel/ea-php72/root/usr/share/pear')"
I'm new to the API world so.. be gentle
but I can't figure out what to do in this situation
and when I commented this line //require '/var/php/vendor/autoload.php';
appeared:

- Fatal error: Uncaught Error: Call to undefined function SageAccounting\yaml_parse_file() in...
- SageAccounting\ClientConfiguration->load() #1...
- SageAccounting\ApiClient->loadClientConfiguration() #2 ...
- SageAccountin

[2020-03-06 08:42] cpetschnig commented on #56
The Portuguese Sage One application runs on a different code base and does not have the current API version v3.1. Without any warranty, I'd kindly ask you to rewind back to a commit before 2018 or try the `v1_v2` branch of this repo.

[2020-03-13 09:24] #56 closed, assigned to NucsuM

[2020-03-13 09:25] #22 closed, assigned to cpetschnig

[2020-03-16 14:34] NucsuM commented on #23
Thanks @NeonHorizon for your investigation and that you support other developer that may have the same problem.

Hello @papiermache , thanks for your feedback and I regret that you wasted time because you did not find the right information in our documentation. We are constantly improving our documentation by hints from developer like you. The part with the 60 seconds is documented in this section

[2020-03-16 14:34] #23 closed, assigned to cpetschnig

[2020-03-16 15:06] #24 closed, assigned to NucsuM

[2020-03-16 15:07] #29 closed, assigned to timlapluie

[2020-03-16 15:09] #32 closed, assigned to cpetschnig

[2020-03-16 15:12] #34 closed, assigned to NucsuM

[2020-03-16 15:18] #38 closed, assigned to cpetschnig

[2020-03-16 15:23] #39 closed, assigned to cpetschnig

[2020-03-16 15:25] #42 closed, assigned to cpetschnig

[2020-03-16 15:26] #43 closed, assigned to cpetschnig

[2020-03-16 15:27] #44 closed, assigned to cpetschnig

[2020-03-16 15:35] NucsuM commented on #55
Hello @eudovic , is your problem still existing?

If you have questions about the Sage Business Cloud Accounting API or want to report problems, then the [accounting api section of sagecity.com](https://www.sagecity.com/developer/accounting-api/) is the perfect place.

Regards, Robert

[2020-03-16 15:44] papiermache commented on #23
A bit of an obtuse place, no? Why not in the the actual documenation and accompanying sample code – proatively so that folks can know (and code) in advance, rather than strange errors and not many minutes, or hours, of debuggering ..

From: Robert Schmidt [mailto:notifications@github.com]
Sent: March 16, 2020 10:35 AM
To: Sage/sageone_api_php_sample <sageone_api_php_sample@noreply.github.com>
Cc:

[2020-03-17 07:42] NucsuM commented on #57
Thanks @AlanBell for your investigation. The next time, when we update this application we will have a look at this problem.

If you have questions about the Sage Business Cloud Accounting API or want to report problems, then the [accounting api section of sagecity.com](https://www.sagecity.com/developer/accounting-api/) is the perfect place.

[2020-03-17 07:42] #57 closed, assigned to NucsuM

[2020-03-17 08:13] NucsuM commented on #58
Thanks @AlanBell for your ideas which could improve this application. The idea of the API sample apps are, to provide a very basic example how the Sage Business Cloud Accounting API. Not bloated and easy to understand. If somebody need this feature in his own application, it would maybe implement this in his own application.

So that is my personal opinion about this topic. But I will take your id

[2020-03-17 08:13] #58 closed, assigned to NucsuM

[2020-03-17 08:58] NucsuM commented on #59
Hello @devnb ! Sorry that you have problems with this application.

The recomended way to use the API Sample Application is to run it via the docker environment. That guarantees you that all dependencies are available in the correct version. So could you try this please? Before some minutes I tryed it, and it works well.

If you have questions about the Sage Business Cloud Accounting API or want t

[2020-03-17 14:48] sumitwaghmare opened #62 "access_token.yml"
can you help me with template of this file? i'm not sure on how to configure this file.
Please help!

[2020-03-18 07:14] NucsuM commented on #42
If you have questions about the Sage Business Cloud Accounting API or want to report problems, then the [accounting api section of sagecity.com](https://www.sagecity.com/developer/accounting-api/) is the perfect place.

[2020-03-18 07:14] NucsuM commented on #39
If you have questions about the Sage Business Cloud Accounting API or want to report problems, then the [accounting api section of sagecity.com](https://www.sagecity.com/developer/accounting-api/) is the perfect place.

[2020-03-18 07:15] NucsuM commented on #38
If somebody of you have questions about the Sage Business Cloud Accounting API or want to report problems, then the [accounting api section of sagecity.com](https://www.sagecity.com/developer/accounting-api/) is the perfect place.

[2020-03-18 07:32] NucsuM commented on #62
Hello @sumitwaghmare will be generated by the application and it contains the `access_token`, `refresh_token` and their `expiring_times` as unix time . You dont need to edit it (but you could). The only file that you need to edit, is the `client_application.yml`. Just fill it with the credentials that you created in the "Your Apps" section of the [developer serfservice](https://developerselfservic

[2020-03-19 19:17] mattimatti opened #63 "$oauthClient typo.."
https://github.com/Sage/sageone_api_php_sample/blob/ac6d4f908972dfd12f180799b11fa234ac90dd66/lib/api_client.php#L60

[2020-03-24 14:26] cpetschnig commented on #63
Apologies, I just can't see the typo. Can you please give more info? Thanks!

[2020-03-24 14:46] NucsuM commented on #55
Hello @eudovic, sorry we can not help you. This application use a completely different API. You need the call support of the brazilian product.

Regards, Robert

[2020-03-24 14:46] #55 closed, assigned to NucsuM

[2021-01-26 03:46] LucasRodriguez0302 commented on #5
I know this is almost 5 years old but we are having the same issue... do you happen to remember what was happening on your end @Caffe1neAdd1ct ?

[2021-01-26 15:40] cpetschnig commented on #5
Hi Lucas, can you give more details please? This issue describes a request to the v1 API, which has been turned off last year. The current API version is documented here: https://developer.sage.com/accounting/

[2021-01-26 17:03] LucasRodriguez0302 commented on #5
Hi @cpetschnig. Yes, we are using the latest version and we are getting the exact same error, tho we can't find any documentation related to `contact_type_form_proxy_id`

[2021-01-27 15:21] cpetschnig commented on #5
Can you please give me a sample of your payload? `contact_type_form_proxy_id` is an internal attribute that unfortunately once surfaced in the API but now shouldn't anymore.

This is an example for the smallest possible payload to create a contact:

    {
      "contact": {
        "name": "Harriet Tubman",
        "contact_type_ids": [
          "CUSTOMER"
        ]
      }
    }

[2021-01-27 21:54] LucasRodriguez0302 commented on #5
We have captured the error with one of our customer's account but we didn't capture the payload, so we are trying to understand or pinpoint what could've triggered it... We will try to capture the payload in case it happens again

[2021-03-12 14:41] rpsimao commented on #63
it should be ``` $this->oauthClient``` not ``` $this->$oauthClient ```

[2021-04-20 06:34] anchordigi opened #66 "Ledger account ID"
Hi,

I'm trying to create an invoice using the API and this sample as a basis. I've got everything working except that I can't work out how to find the right ledger ID.

Is there anywhere within Sage I can find this? Or else do I need to use the API to access it? I've used the ledger_accounts endpoint and a GET request, and that retrieves them, but I can't figure out how to use the pagination to f

[2021-04-20 06:44] cpetschnig commented on #66
Hi,

you probably want to use the `visible_is` filter for ledger accounts as described [here in the API reference](https://developer.sage.com/accounting/reference/accounting-setup/#operation/getLedgerAccounts). This should even be possible without pagination, especially if you set `items_per_page` to 200.

Does this help? Cheers!

[2021-04-20 07:12] anchordigi commented on #66
Thanks for the quick response. My issue is not knowing how to set 'items_per_page'.

Here is my request:
$response = $apiClient->execApiRequest('ledger_accounts', 'get');

I'm not sure how to set 'items_per_page'?

[2021-04-20 08:54] cpetschnig commented on #66
Did you try

    $response = $apiClient->execApiRequest('ledger_accounts?items_per_page=200', 'get');

Maybe

    $response = $apiClient->execApiRequest('ledger_accounts?items_per_page=200&visible_in=sales', 'get');

is even more helpful. Does this take you forward?

[2021-04-20 09:07] anchordigi commented on #66
I definitely thought I had tried that, but I gave it another go and it worked! I was doing it late last night so probably made a typo or something.

Thanks so much for your help, it's really appreciated. Hope you have a great rest of your day.

[2021-04-20 09:35] #66 closed, assigned to nobody

[2021-04-20 09:35] cpetschnig commented on #66
Solved

[2021-05-03 07:46] #63 closed, assigned to NucsuM

[2021-11-05 18:07] #62 closed, assigned to NucsuM

[2022-09-22 15:14] rachelste opened #67 "Class 'League\OAuth2\Client\Provider\GenericProvider' not found"
I'm getting the following error when trying to get the PHP sample project up and running:

Uncaught Error: Class 'League\OAuth2\Client\Provider\GenericProvider' not found in ...\lib\api_client.php:34

I searched on the complete sageone_api_php_sample folder, and did not see any files that created the GenericProvider class. The only thing that came up was the api_client.php file that references it.

[2022-09-22 15:41] rachelste commented on #67
Never mind, was missing league. Got past the issue once I installed the package.

[2022-09-22 15:41] #67 closed, assigned to nobody